/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

img {
  vertical-align: bottom;
}
body {
  color: rgb(255, 255, 255);
    font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background: rgb(0, 0, 0);
    font-family:"Font Awesome 5 Free","Font Awesome 5 Brands";
}
main {  
  display: flex;
}
.container {
  width: 80%;
  /* text-align: center; */
}
.ttl {
  margin: 70px auto;
  text-align: center;
}
.ttl span {
  font-size: 22px;
  color: #ffffff;
  line-height: 42px;
  font-family: "Modern Antiqua", "Noto Sans JP", serif;;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 20px;
}
.layout {
  width: 20%;
  height: 100%;
  position: fixed;
  right: 0;
  /* flex: 20% 0 0; */
}
.layout .side-bar {
  margin-left: 19%;
  margin-right: 19%;
}
.layout .logo img {
  margin: 30px 0 35px;
  width: 88px;
}
.layout .side-bar .menu-list li {
  list-style: none;
  margin: 15px 0;
}
.layout .side-bar .menu-list a {
  text-decoration: none;
  font-family: "Modern Antiqua", "Noto Sans JP", serif;
  font-size: 14px;
  color: white;
  line-height: 27px;
}
.layout .side-bar .menu-list a:hover {
  text-decoration: underline;
}
.layout .sns-list ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.layout .sns-list li {
  list-style: none;
  margin: 14px 14px 0 0;
}
.layout .sns-list li img {
  width: 22px;
}
.layout .sns-list li img:hover {
  opacity: 0.8;
}
.sec01 img {
    width: 100%;
}
.sec02 {
  margin-bottom: 80px;
}
.sec02 .about p {
  width: 60%;
  margin: 0 auto;
}
.sec03 .photo-wrapper img {
  width: calc(100% / 3);
}
.sec03 span .photo-big {
  width: 100%;
}
.under-bar {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid white;
}
.sec04 .inner {
  width: 100%;
  margin-bottom: 55px;
}
.sec04 .brand-list {
  display: inline-block;
  list-style: none;
  display: flex;
}
.sec04 .brand-list li {
  width: calc(100% / 4);
  padding: 0 3%;
}
.sec04 .brand-list li img {
  width: 100%;
}
.sec04 .brand-list li p {
  font-size: 14px;
  line-height: 27px;
}
.sec05 .inner {
  width: 100%;
  margin: 0 auto;
}
.sec05 .project-list .article {
  clear: both;
  overflow: hidden;
  margin-bottom: 75px;
}
.sec05 .project-list .article img {
  float: left;
  margin: 5 20px 20px;
}
.sec06 .company {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
}
.sec06 .company-wrapper {
  display: flex;
  justify-content: space-between;
}
.sec06 .company-detail {
  margin-right: 12%;
}
.sec06 .gg-map {
  width: 60%;
  height: 200px;
  position: relative;
}
.sec06 .gg-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  height: 150px;
}
footer p {
  text-align: center;
  line-height: 150px;
  font-size: 12px;
}
footer p a {
  text-decoration: none;
  color: blue;
}
footer p a:hover {
  text-decoration: underline;
}
@media (min-width:800px) {
  header {
    display: none;
  }
}
@media (max-width: 799px) {
  .layout .side-bar {
    display: none;
  }
  .container {
    width: 100%;
  }
  #header {
    z-index: 2;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: black;
  }
  #header #header-item {
    display: flex;
    justify-content: center;
    position: relative;
  }
  #header .header-logo {
    margin: 0;
    line-height: 60px;
  }
  #header .header-logo img {
    width: 100px;
    margin: 17px 0;
  }
  #header #header-nav-wrapper {
    position: fixed;
    z-index: -1;
    height: 424px;
    top: -424px;
    left: 0;
    background-color: black;
    transition: all 0.5s;
    width: 100%;
  }
  #header .nav-list li {
    padding: 18px 0;
    border-bottom: 1px solid white;
  }
  #header .nav-list a {
    display: block;
    box-sizing: border-box;
    font-family: "Modern Antiqua", "Noto Sans JP", serif;
    text-decoration: none;
    color: white;
  }
  #header .nav-list a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    color: white;
    font-weight: 900;
    margin: 0 10px;
  }
  #header .nav-list a:hover {
    text-decoration: underline;
  }
  #header .header-sns-list ul {
    display: flex;
    border-bottom: 1px solid white;
    border-top: 2px solid white;
  }
  #header .header-sns-list li {
    list-style: none;
  }
  #header .header-sns-list li a {
    box-sizing: border-box;
  }
  #header .header-sns-list li img {
    width: 23px;
    padding: 10px;
  }
  #header #hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    top: 23px;
    right: 20px;
    width: 16px;
    height: 14px;
    transition: 1s;
    cursor: pointer;
  }
  #header .inner_line {
    display: block;
    position: absolute;
    left: 6px;
    width: 18px;
    height: 2px;
    background-color: white;
    transition: 0.5s;
    border-radius: 4px;
  }
  #header #line1{
    top: 0;
  }
  #header #line2{
    top: 6px;
  }
  #header #line3{
    bottom: 0;
  }
  #header .in {
    transform: translateY(110%);
  }
  .line_1, .line_2, .line_3 {
    background-color: white;
  }
  .line_1 {
    transform: translateY(6px) rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: translateY(-6px) rotate(45deg);
    bottom: 0;
  }
}
@media(max-width: 640px) {
  .container {
    width: 100%;
  }
  .sec03 .photo-wrapper img {
    width: 100%;
  }
  .sec04 .brand-list {
    display: block;
    list-style: none;
  }
  .sec04 .brand-list li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .sec04 .brand-list li img {
    width: 170px;
  }
  .sec04 .brand-list li p {
    margin: 5px 0 40px;
  }
  .sec05 .inner {
    width: 100%;
  }
  .sec05 .project-list .article {
    width: 100%;
    text-align: center;
  }
  .sec05 .project-list .article img {
    float: none;
    margin: 0 0 20px;
  }
  .sec05 .project-list .article p {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
  }
  .sec06 .company-wrapper {
    display: block;
  }
  .sec06 .gg-map {
    margin: 0 auto;
    width: 95%;
    padding-bottom: 35%;
    position: relative;
    margin-bottom: 110px;
  }
  .sec06 .gg-map iframe {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}